/* VARIABLES */
:root {
  --clr-bg-primary: #222;
  --clr-carousel-container: #ff0022;
}

/* GLOBAL STYLES */
*,
:after,
:before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  box-sizing: content-box;
}
body {
  background-color: var(--clr-bg-primary);
}

/* CAROUSEL STYLE */
.js-Carousel {
  /* background-color: var(--clr-carousel-container); */
  height: 500px;
  margin: 0 auto 2em;
  /* overflow: hidden; */
  position: relative;
  width: 800px;
  /* border: 5px solid red; */
}
.js-Carousel > ul {
  height: 500px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 9999px;
  /* border: 5px solid white; */
}
.js-Carousel > ul li {
  display: inline-flex;
  transition: margin-left 0.3s ease-in-out;
  /* border: 5px solid yellow; */
}
.js-Carousel h4 {
  position: absolute;
  font-size: 3rem;
  top: 30%;
  color: #fff;
}
.js-Carousel > ul li img {
  width: 160px;
  height: 500px;
  /* min-height: 100%; */
  object-fit: cover;
}
.js-Carousel .js-Carousel-arrowPrev,
.js-Carousel .js-Carousel-arrowNext {
  background: transparent;
  border: 0;
  color: #e0e0e0;
  cursor: pointer;
  font: 400 10em sans-serif;
  height: 200px;
  outline: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 0 0 10px #444444;
  width: 90px;
  transition: all 0.2s ease;
}
.js-Carousel .js-Carousel-arrowPrev:hover,
.js-Carousel .js-Carousel-arrowNext:hover {
  color: #aaaaaa;
}
.js-Carousel .js-Carousel-arrowPrev {
  left: 0;
}
.js-Carousel .js-Carousel-arrowNext {
  right: 0;
}
.js-Carousel .js-Carousel-dots {
  display: inline-block;
  height: 1.25em;
  margin: 0;
  position: absolute;
  bottom: 1em;
  /* right: 1em; */
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}
.js-Carousel .js-Carousel-dots li {
  background: var(--clr-carousel-container);
  border-radius: 0.75em;
  cursor: pointer;
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 0.75em;
  transition: all 0.2s ease;
}
.js-Carousel .js-Carousel-dots li.is-active {
  background: #ffffff;
  box-shadow: 0 0 3px 3px #ddd;
}
.js-Carousel .js-Carousel-dots li:hover {
  background: #f5f5f5;
}
.js-Carousel .js-Carousel-btnStop,
.js-Carousel .js-Carousel-btnPlay {
  background: #aaaaaa;
  border: 0;
  cursor: pointer;
  height: 2.25em;
  position: absolute;
  bottom: 1em;
  left: 2em;
  text-align: center;
  width: 5em;
  transition: all 0.2s ease;
}
.js-Carousel .js-Carousel-btnStop:hover,
.js-Carousel .js-Carousel-btnPlay:hover {
  background: #f5f5f5;
}
.js-Carousel .js-Carousel-btnStop {
  left: 100px;
}
